Django>=5.0,<6.0
langchain-openai
langgraph
langgraph-supervisor
python-decouple
permit
psycopg2-binary
langchain-google-genai
django-ninja
django-ninja-jwt
google-api-core
langgraph-checkpoint-postgres
psycopg[binary,pool]
django-cors-headers
whitenoise
gunicorn
uvicorn
